.beverages {
    background-color: $bg;
    text-align: center;

    &__title {
        font-size: $font-size-title-small;
        text-transform: capitalize;
    }

    &__spoon {
        padding: 8px 0;
    }

    &__subtitle {
        @include title(55px);
    }

    &__images {
        display: flex;
        justify-content: space-between;
        gap: 32px;

        @media (max-width: 675px) {
            justify-content: center;
        }

        img {
            width: 30%;

            @media (max-width: 675px) {
                width: 20%;
            }
        }
    }
}
