.main {
    background-image: url(../images/BG-1.png);
    padding-top: 0;
    position: relative;

    &__tags {
        display: flex;
        gap: 40px;
        font-size: 18px;
        font-family: $fontSecond;
        letter-spacing: 2px;
        position: absolute;
        top: 120px;
        left: -50px;
        transform: rotate(-90deg);
    }

    &__wrapper {
        position: relative;
        border: 1px solid $yellow;
        max-width: 460px;
        margin: 0 auto 53px auto;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        font-size: 11vw;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 5%;
        white-space: nowrap;
        text-transform: capitalize;
    }

    &__line {
        border-left: 2px solid white;
        height: 61px;
        left: 50%;
        bottom: -15px;
        position: absolute;
    }

    &__pic {
        max-width: 100%;
    }

    &__scroll {
        color: $yellow;
        text-transform: uppercase;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
    }
}
