.hours {
    height: 100vh;
    background-image: url("../../../images/BG-2.png");
    text-align: center;
    position: relative;
    background-size: cover;

    &__container,
    &__wrapper {
        height: 100%;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        gap: 32px;
        flex-direction: column;
    }

    &__title {
        @include title();
    }

    &__text {
        font-size: 32px;
        line-height: 130%;
    }
}
