.hours {
    height: 100vh;
    background-image: url("../../../images/BG-2.png");
    text-align: center;
    position: relative;
    background-size: cover;

    &__container,
    &__wrapper {
        height: 100%;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        gap: 32px;
        flex-direction: column;
    }

    &__title {
        font-size: $font-size-title;
        color: $yellow;
        line-height: 130%;

        @include for-mobile {
            font-size: $font-size-title-mobile;
            line-height: 100%;
        }
    }

    &__text {
        color: $white;
        font-size: 32px;
        line-height: 130%;
    }
}
