$fontMain: "CormorantUpright Regular";
$fontSecond: "Open Sans";

$active: #fff;
$activeHover: #fff;
$activeVisited: #fff;
$white: #ffffff;
$black: #242424;
$yellow: #dcca87;
$font-size-title: 64px;
$font-size-title-mobile: 44px;
$bg: #040404;
$bgBooking: #0c0c0c;

$transition: 0.25s;
