$fontMain: "CormorantUpright Regular";
$fontSecond: "Open Sans";

$active: #fff;
$activeHover: #fff;
$activeVisited: #fff;
$white: #ffffff;
$black: #242424;
$yellow: #dcca87;
$font-size-title: 64px;

$transition: 0.25s;
