.booking {
    background-color: $bg;
    position: relative;
    text-align: center;

    &__seal {
        position: absolute;
        top: -20px;
        right: 40px;
    }

    &__wrapper {
        background-color: $bgBooking;
        border: 1px solid $yellow;
        margin: 40px auto;
        padding: 48px;
    }

    &__reservation {
        font-size: 23px;
    }

    &__spoon {
        padding: 10px 0;
    }

    &__title {
        @include title(64px);
    }

    &__inner {
        display: flex;
        gap: 32px;
        justify-content: center;

        @media (max-width: 672px) {
            flex-direction: column;
        }
    }

    &__persons,
    &__time,
    &__date {
        flex: 0 0 30.2%;
        padding: 16px;
        background-color: $bg;
        color: $white;
        border: 1px solid $yellow;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        display: inline-block;
        background-image: url("../../../images/svg/caret.svg");
        background-repeat: no-repeat;
        background-position: right 12px center;
        background-size: 20px;
        font-family: $fontMain;
    }

    &__button {
        @include button;
    }
}
